# This file contains all possible commandline arguments for the pyPaSWAS software
# Change these settings for easy reusability and start the software using:
#       python pypaswasall.py -c config.cfg
# Blank settings are ignored or combined with arguments passed on commandline
[General]
FILE1=
FILE2=
logfile=
out_file=output.txt
out_format=txt
loglevel=INFO
program=aligner
filetype1=
filetype2=
override_output=T

[Aligner]
custom_matrix=
matrix_name=DNA-RNA
gap_score=-2
mismatch_score=
match_score=
any_score=
other_score=
minimum_score=
highest_score=5
lower_limit_score=

[Device]
device_number=0
filter_factor=0.7
limit_length=5000
number_of_jobs=
process_id=
max_genome_length=200000
