# These settings are all the required settings for the pyPaSWAS software 
# This file is read by default and should be overridden by using command-line
# arguments and / or a configuration file specified with '--configfile' 
[General]
out_file=output
out_format=TXT
loglevel=DEBUG
program=palindrome
filetype1=fasta
filetype2=fasta
override_output=T

[Input]
start_query=0
end_query=0
start_target=0
end_target=0
sequence_step=100000000
query_step=1000000

[Aligner]
gap_score=-5
match_score=5
mismatch_score=-3
other_score=-1
any_score=0
matrix_name=DNA-RNA
highest_score=5
lower_limit_score=1.0
minimum_score=30

[Filter]
filter_factor=0.2
query_coverage=0.2
query_identity=0.2
relative_score=2.0
base_score=2.0

[Mapper]
maximum_distance=0.06
qgram=4
compressed_index=T
reads_to_process=30
fraction_of_seeds=0.01

[Palindrome]
query_coverage_slice=0.98
minimum_read_length=50

[GraphDatabase]
hostname=localhost
username=neo4j
password=Neo4J
target_node=Read
sequence_node=Read

[Plotter]
window_length=100

[Device]
device_number=0
maximum_memory_usage=0.8
number_of_compute_units=0
sub_device=0
limit_length=100000
max_genome_length=100000
recompile=T
short_sequences=F

[Framework]
language=CUDA

[OpenCL]
device_type=GPU
platform_name=NVIDIA
